
<div style="background-image: url(../../assets/images/bannerhome.jpg);">
        <button mat-dialog-close class="btn btn-danger offset-md-9"> X</button>  
    <section class="service-section home-3 padding-tb" style="background-image: url(../../assets/images/bannerhome.jpg);" id="symptoms">
        <div class="container">
            <div class="section-header wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                <h2>Corona Virus Symptoms</h2>
                <p> COVID-19 affects different people in different ways. Most infected people will develop mild to moderate illness and recover without hospitalization.</p>
            </div>
            <div class="section-wrapper">
                <div class="row no-gutters justify-content-center">
                    <div class="col-md-6 col-12 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="service-item style-2">
                            <div class="service-inner">
                                <div class="service-thumb">
                                    <img src="../../assets/images/symptoms/01 (1).jpg" alt="service">
                                </div>
                                <div class="service-content">
                                    <h4>Coughing And Sneezing</h4>
                                     
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="service-item style-2">
                            <div class="service-inner">
                                <div class="service-thumb">
                                    <img src="../../assets/images/symptoms/02.jpg" alt="service">
                                </div>
                                <div class="service-content">
                                    <h4>Hot Fever</h4>
                                     
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                        <div class="service-item style-2">
                            <div class="service-inner">
                                <div class="service-thumb">
                                    <img src="../../assets/images/symptoms/03.jpg" alt="service">
                                </div>
                                <div class="service-content">
                                    <h4>Strong Headacke</h4>
                                     
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 wow fadeInUp" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                        <div class="service-item style-2">
                            <div class="service-inner">
                                <div class="service-thumb">
                                    <img src="../../assets/images/symptoms/04.jpg" alt="service">
                                </div>
                                <div class="service-content">
                                    <h4>Shortness Of Breath</h4>
                                     
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 wow fadeInUp" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
                        <div class="service-item style-2">
                            <div class="service-inner">
                                <div class="service-thumb">
                                    <img src="../../assets/images/symptoms/05.jpg" alt="service">
                                </div>
                                <div class="service-content">
                                    <h4>Confusion</h4>
                                     
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 wow fadeInUp" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;">
                        <div class="service-item style-2">
                            <div class="service-inner">
                                <div class="service-thumb">
                                    <img src="../../assets/images/symptoms/06.jpg" alt="service">
                                </div>
                                <div class="service-content">
                                    <h4>Sore Throat</h4>
                                     
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

