<div class="wrapper">

<mat-toolbar class="nav navWrapper">

    <button mat-icon-button class="example-icon " aria-label="Example icon-button with menu icon">

      <img  [routerLink]="['home']" src="../assets/images/corona-icon-red.png" alt="logo">
   </button>
   <span class="" [routerLink]="['/home']" >Covid Statistics App</span>
   <span class="example-spacer"></span>
   <button mat-icon-button class="example-icon favorite-icon"  [routerLink]="['/stats']" aria-label="Example icon-button with heart icon">
     Statistics
   </button>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
   
  </button>
 </mat-toolbar>

 

<router-outlet></router-outlet>
 
</div>