<div class="wrapper">

<mat-toolbar class="nav navWrapper">

    <button mat-icon-button class="example-icon " aria-label="Example icon-button with menu icon">

      <img  [routerLink]="['/home']" src="../assets/images/corona-icon-red.png" alt="logo">
   </button>
   <span class="" [routerLink]="['/home']" >Covid Statistics For Traveling </span>
   <span class="spacer"></span>
   <button mat-flat-button class=" btn btn-link bg-dark " style="color: greenyellow;"  [routerLink]="['/statistics']" >
     Statistics
   </button>


 </mat-toolbar>

 

<router-outlet></router-outlet>
 
</div>