<button mat-dialog-close class=" offset-md-6 btn btn-danger"> X</button>  

<section class="service-section home-3 style-2 padding-tb"
    style="background-image: url();" id="prevention">
    <div class="container">
        <div class="section-header wow fadeInUp" data-wow-delay="0.3s"
            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
            <h2>Prevention Coronavirus Covid-19</h2>
            <p> Protect yourself and others around you by knowing the facts and taking appropriate precautions. Follow
                advice provided by your local health authority.</p>
        </div>
        <div class="section-wrapper">
            <div class="row no-gutters">
                <div class="col-md-6 col-12 wow fadeInUp" data-wow-delay="0.3s"
                    style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <div class="service-left">
                        <h3>What you should do</h3>
                        <div class="row no-gutters justify-content-center">
                            <div class="col-12">
                                <div class="service-item style-2">
                                    <div class="service-inner">
                                        <div class="service-thumb">
                                            <img src="../../assets/images/prevention/01.jpg" alt="service">
                                        </div>
                                        <div class="service-content">
                                            <h4>Wash your hands sanitizer</h4>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="service-item style-2">
                                    <div class="service-inner">
                                        <div class="service-thumb">
                                            <img src="../../assets/images/prevention/02.jpg" alt="service">
                                        </div>
                                        <div class="service-content">
                                            <h4>Ware a face mask outside</h4>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="service-item style-2">
                                    <div class="service-inner">
                                        <div class="service-thumb">
                                            <img src="../../assets/images/prevention/03.jpg" alt="service">
                                        </div>
                                        <div class="service-content">
                                            <h4>Cover your cough tissue paper</h4>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="service-item style-2">
                                    <div class="service-inner">
                                        <div class="service-thumb">
                                            <img src="../../assets/images/prevention/04.jpg" alt="service">
                                        </div>
                                        <div class="service-content">
                                            <h4>Check your body regulerly</h4>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 wow fadeInUp" data-wow-delay="0.4s"
                    style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                    <div class="service-right">
                        <h3>What you should avoid</h3>
                        <div class="row no-gutters justify-content-center">
                            <div class="col-12">
                                <div class="service-item style-2">
                                    <div class="service-inner">
                                        <div class="service-thumb">
                                            <img src="../../assets/images/prevention/05.jpg" alt="service">
                                        </div>
                                        <div class="service-content">
                                            <h4>Avoid contact with sick people</h4>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="service-item style-2">
                                    <div class="service-inner">
                                        <div class="service-thumb">
                                            <img src="../../assets/images/prevention/06.jpg" alt="service">
                                        </div>
                                        <div class="service-content">
                                            <h4>Avoid contact animals</h4>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="service-item style-2">
                                    <div class="service-inner">
                                        <div class="service-thumb">
                                            <img src="../../assets/images/prevention/07.jpg" alt="service">
                                        </div>
                                        <div class="service-content">
                                            <h4>Avoid crowded places</h4>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="service-item style-2">
                                    <div class="service-inner">
                                        <div class="service-thumb">
                                            <img src="../../assets/images/prevention/08.jpg" alt="service">
                                        </div>
                                        <div class="service-content">
                                            <h4>Contaminated objects</h4>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>